<div class="container text-center">
    <h1>Login</h1>
    <div class="grid3">
        <figure>
            <form method="POST">
                <div class="row text-center">
                    <label for="username">
                        <span class="text-danger">*</span> Username</label>
                    <input id="username" placeholder="Enter Username" class="form-control" name="username" type="text"
                        tabindex="1" required>
                </div>
                <div class="row">
                    <label for="Password">
                        <span class="text-danger">*</span> Password</label>
                    <input id="password" placeholder="**************" class="form-control" name="Password"
                        type="password" tabindex="2" size=32 required>
                </div>
                <div class="row" style="text-align: center;">
                    <a style="text-decoration: none;" href="">
                        <div class="button2 btn btn-outline-primary">Login</div>
                    </a></div>
                   <a style="text-decoration: none;" href="/account/signup">
                        <div class="button2 btn btn-outline-primary">Sign Up</div>
                    </a></div>
            </form>
        </figure>
    </div>
</div>
