<div id="setting-box"><h2>Setting</h2>
    <div id="setting-contents">
    <a href="#"><div class ="setting" id="setting-home">Home Setting</div></a>
    <a href="#"><div class ="setting" id="setting-home">Privacy</div></a>
    <a href="#"><div class ="setting" id="setting-display">Display</div></a>
    <a href="#"><div class ="setting" id="setting-notification">Notification</div></a>
    <a href="#"><div class ="setting" id="setting-language">Language</div></a>
    </div>
 </div>