<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CPOS Invoice</title>
    <link rel="icon" href="/img/logo01.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c3395b0826.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="logo">  <a href="/">
            <img id="logo-img" alt="logo" src="/img/logo02.png" />
            <span id="logo-name">Invoice</span></a>
            <div class="header-menubar">
                <div id="menubar">
                    <input type="checkbox" id="menuicon" />
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <ul id="sidebar-account">
                           <a href="account/login"> <li>My Account</li></a>
                        </ul>
                        <ul id="sidebar-menu">
                           <a href="/"> <li id="menu-home">Home</li></a>
                           <a href="accounting/payment"><li class="first-li">Payment</li></a> 
                            <a href="accounting/invoices"><li>Invoices</li></a> 
                            <a href="accounting/expenses"><li>Expenses</li></a> 
                            <a href="accounting/estimates"><li>Estimates</li></a> 
                        </ul>
                        <ul id="sidebar-setting">
                           <a href="account/setting"> <li>Setting</li></a> 
                            <a href="general/contactus"><li>Contact Us</li></a> 
                            <a href="general/feedback"><li>Feedback</li></a> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id={{mainid}}>
            {{{body}}}
        </div>
    </main>
    <footer>
        <a href="/"><i class="fas fa-home fa-2x"
                style="color:white; opacity: 0.7; padding-left: 10px; padding-right: 10px;"></i></a>
        <a href="https://www.facebook.com/cposinc/"><i class="fab fa-facebook-square fa-2x"
                style="color:white; opacity: 0.7; padding-left: 10px; padding-right: 10px;"></i></a>
        <a href="https://www.instagram.com/cposinc/"><i class="fab fa-instagram fa-2x"
                style="color:white; opacity: 0.7; padding-left: 10px; padding-right: 10px;"></i></a>
        <div id="footer-text">
            © 2020 CPOS Invoice – Website Design by Team Daru
        </div>
    </footer>
    <div class="fixed-footer">
        <nav>
            <ul>
                <li>
                    <a href="/"> <i class="fas fa-home fa-2x" style="color:gray;"></i>
                        <div class="fixed-footer-text">Home</div>
                    </a>
                </li>
                <li>
                    <a href="accounting/invoices"><i class="far fa-file-alt  fa-2x" style="color:gray; margin: auto;"></i>
                    <div class="fixed-footer-text">Invoices</div></a>
                </li>
                <li><a href="accounting/payment">
                    <i class="fas fa-plus-square fa-3x" style="color:rgb(0, 113, 207);"></i></a>
                </li>
                <li><a href="accounting/estimates">
                    <i class="far fa-chart-bar fa-2x" style="color:gray;"></i>
                    <div class="fixed-footer-text">Estimates</div></a>
                </li>
                <li><a href="account/login">
                    <i class="far fa-user fa-2x" style="color:gray; margin: auto;"></i>
                    <div class="fixed-footer-text">Profile</div></a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>