<div class="header-menubar">
    <div id="menubar">
        <input type="checkbox" id="menuicon" />
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <ul id="sidebar-account">
                <li>My Account</li>
            </ul>
            <ul id="sidebar-menu">
                <li id="menu-home">Home</li>
                <li class="first-li">Payment</li>
                <li>Invoices</li>
                <li>Expenses</li>
                <li>Estimates</li>
            </ul>
            <ul id="sidebar-setting">
                <li>Setting</li>
                <li>Contact Us</li>
                <li>Feedback</li>
            </ul>
        </div>
    </div>
</div>