<!-- Assignment #1 Ye Jin Kim 163291180 -->
<div style="padding-top: 30px;
padding-bottom: 50px; background-color:#e7dfd5;">
    <div class="container">
        <h1>Sign up</h1>
        <div class="grid3">
            
            <figure>
                <form method="">
                    <div class="row">
                        <label for="email">
                            <span class="text-danger">*</span> Email Address</label>
                        <input id="email" placeholder="id@example.com" class="form-control" name="email"
                            autocomplete="email" type="email" tabindex="1" required>
                    </div>
                    <div class="row">
                        <label for="username">
                            <span class="text-danger">*</span> Username</label>
                        <input id="username" placeholder="Enter Username" class="form-control" name="username"
                            type="text" tabindex="2" required>
                    </div>
                    <div class="row">
                        <label for="Password">
                            <span class="text-danger">*</span> Password</label>
                        <input id="password" placeholder="**************" class="form-control" name="Password"
                            type="password" tabindex="3" size=32 required>
                    </div>
                    <div class="row">
                        <label for="Password"><span class="text-danger">*</span> Password Confirm</label>
                        <div style="text-align:right;">
                            <input id="cpassword" placeholder="**************" class="form-control" name="Password"
                                type="password" tabindex="4" size=32 required></div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <a style="text-decoration: none;" href="">
                            <div class="button2 btn btn-outline-primary">Create new account</div>
                        </a></div>
                </form>
            </figure>
        </div>
    </div>
</div>