<div class="container">
    <h2 class="text-center">Contact us</h2>
    <form method="POST" action="/contactus">
        <div class="row">
            <div class="col">
                <label for="firstName">First Name</label>
                <input id="firstName" placeholder="John" class="form-control" type="text" tabindex="1">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="lastName">Last Name</label>
                <input id="lastName" placeholder="Smith" class="form-control" type="text" tabindex="2">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="email">Email</label>
                <input id="email" placeholder="john@example.com" class="form-control" type="text" tabindex="3">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="message">Message</label>
                <input id="message" class="form-control" type="text" tabindex="4">
            </div>
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Contact Us">
    </form>
</div>