<div id="payment-box">
   <h1 id="main-welcome">Welcome!</h1>
   <h2>Recently Updated</h2>
        <table id="payment">
            <thead>
                <tr>
                    <th class="payment-date">Date</th>
                    <th class="payment-price">Price</th>
                    <th class="payment-product">Product</th>
                    <th class="payment-status">Status</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td class="payment-date"><a href="#">07-01-2020</a></td>
                    <td class="payment-price"><a href="#">$2,000.00</a></td>
                    <td class="payment-product"><a href="#">Seneca</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">07-01-2020</a></td>
                    <td class="payment-price"><a href="#">$1,120.00</a></td>
                    <td class="payment-product"><a href="#">Spring Spa</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(223, 196, 43);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-28-2020</a></td>
                    <td class="payment-price"><a href="#">$2,800.00</a></td>
                    <td class="payment-product"><a href="#">Daru Co.</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-27-2020</a></td>
                    <td class="payment-price"><a href="#">$560.00</a></td>
                    <td class="payment-product"><a href="#">Cpos</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-14-2020</a></td>
                    <td class="payment-price"><a href="#">$1,100.00</a></td>
                    <td class="payment-product"><a href="#">Kgb</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(223, 196, 43);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-10-2020</a></td>
                    <td class="payment-price"><a href="#">$3,500.00</a></td>
                    <td class="payment-product"><a href="#">Good people</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(173, 41, 1);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-10-2020</a></td>
                    <td class="payment-price"><a href="#">$200.00</a></td>
                    <td class="payment-product"><a href="#">Monthly</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-08-2020</a></td>
                    <td class="payment-price"><a href="#">$1,450.00</a></td>
                    <td class="payment-product"><a href="#">N5 company</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">06-01-2020</a></td>
                    <td class="payment-price"><a href="#">$2,000.00</a></td>
                    <td class="payment-product"><a href="#">Google</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">05-31-2020</a></td>
                    <td class="payment-price"><a href="#">$3,500.00</a></td>
                    <td class="payment-product"><a href="#">Gray Co.</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
                 <tr>
                    <td class="payment-date"><a href="#">05-29-2020</a></td>
                    <td class="payment-price"><a href="#">$100.00</a></td>
                    <td class="payment-product"><a href="#">Flower</a></td>
                    <td class="payment-status"><a href="#"><i class="far fa-check-circle" style="color:rgb(23, 171, 33);"></i></a></td>               
                 </tr>
            </tbody>
        </table>
        </div>