<div id="estimates-box">
    <h2>Estimates</h2>
    <div class="chart-box">
        <h3>Monthly</h3>
        <div class="chart">
            <div class="chart-name">Jul</div>
            <div class="chart-bar">
                <span style="width: 40%; background: rgb(240, 96, 96);">$4,200</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">Jun</div>
            <div class="chart-bar">
                <span style="width: 100%; background: rgb(245, 215, 110);" >$12,300</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">May</div>
            <div class="chart-bar">
                <span style="width: 70%; background: rgb(42, 124, 158);">$9,100 </span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">Apr</div>
            <div class="chart-bar">
                <span style="width: 55%; background: rgb(115, 193, 179);">$6,400</span>
            </div>
        </div>
    </div>
        <div class="chart-box">
        <h3>Quaterly</h3>
        <div class="chart">
            <div class="chart-name">Q1</div>
            <div class="chart-bar">
                <span style="width: 50%; background: rgb(254, 205, 180);">$1,300</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">Q2</div>
            <div class="chart-bar">
                <span style="width: 80%; background: rgb(253, 180, 164);" >$21,500</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">Q3</div>
            <div class="chart-bar">
                <span style="width: 100%; background: rgb(227, 152, 156);">$23,500 </span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">Q4</div>
            <div class="chart-bar">
                <span style="width: 30%; background: rgb(180, 131, 141);">$1,900</span>
            </div>
        </div>
    </div>
        <div class="chart-box">
        <h3>Yearly</h3>
        <div class="chart">
            <div class="chart-name">2020</div>
            <div class="chart-bar">
                <span style="width: 85%; background: rgb(42, 124, 158);">$62,800</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">2019</div>
            <div class="chart-bar">
                <span style="width: 70%; background: rgb(115, 193, 179);" >$57,100</span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">2018</div>
            <div class="chart-bar">
                <span style="width: 40%; background: rgb(179, 218, 192);">$32,200 </span>
            </div>
        </div>
                <div class="chart">
            <div class="chart-name">2017</div>
            <div class="chart-bar">
                <span style="width: 100%; background: rgb(212, 219, 179);">$73,500</span>
            </div>
        </div>
    </div>
</div>