<div class="row">
    <div class="col-75">
        <div class="container">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Transaction ID</th>
                    <th>Expenses</th>
                </thead>
                {{#each data.receipts}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.receiptID}}</td>
                    <td>${{this.total}}</td>
                </tr>
                {{/each}}
                <tfoot>
                    <td>Total Balance:</td>
                    <td colspan="2">{{data.balance}}</td>
                </tfoot>


            </table>
        </div>
    </div>
</div>