<table>
    <tr>
        <th>Date</th>
        <th>Transaction ID</th>
        <th>Expense</th>
        <th>Balance</th>
    </tr>
    {{#each userData.receipts}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.receiptID}}</td>
        <td>{{this.}}</td>
    </tr>



</table>