<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-50">
                        <h3 class="font-weight-bold">Create Invoice</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-50">
                        <h4 class="font-weight-bold">Customer Info</h4>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="James Smith">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="john@example.com">
                    </div>
                    <div class="col-50">
                        <h4 class="font-weight-bold">Invoice Detail</h4>
                        <label for="id "><i class="fa fa-address-card-o"></i> Invoice ID#</label>
                        <input type="text" id="id" name="id" placeholder="0073">
                        <label for="duedate"><i class="fas fa-calendar-day"></i> Due Date</label>
                        <input type="text" id="duedate" name="date" placeholder="June 30th, 2020">
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col">
                        <h4 class="font-weight-bold">Line Items</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="qty">Qty</label>
                        <input type="text" id="qty" name="quantity" placeholder="1"></div>
                    <div class="col-6">
                        <label for="Desc">Description</label>
                        <input type="text" id="Desc" name="Desc" placeholder="Paint Brush"></div>
                    <div class="col-4">
                        <label for="price">Price</label>
                        <input type="text" id="price" name="price" placeholder="21.50"></div>

                </div>
                <div class="row">
                    <div class="col-2">
                        <input type="text" id="qty" name="quantity" placeholder="7"></div>
                    <div class="col-6">
                        <input type="text" id="Desc" name="Desc" placeholder="Blue paint"></div>
                    <div class="col-4">
                        <input type="text" id="price" name="price" placeholder="1.75"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <input type="text" id="qty" name="quantity" placeholder="3"></div>
                    <div class="col-6">
                        <input type="text" id="Desc" name="Desc" placeholder="Sketch book"></div>
                    <div class="col-4">
                        <input type="text" id="price" name="price" placeholder="4.50"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <input type="text" id="qty" name="quantity" placeholder="6"></div>
                    <div class="col-6">
                        <input type="text" id="Desc" name="Desc" placeholder="Spider-Man Issue 89"></div>
                    <div class="col-4">
                        <input type="text" id="price" name="price" placeholder="35.50"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <input type="text" id="qty" name="quantity" placeholder="1"></div>
                    <div class="col-6">
                        <input type="text" id="Desc" name="Desc" placeholder="Batman Issue 7"></div>
                    <div class="col-4">
                        <input type="text" id="price" name="price" placeholder="26.50"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-8">

                        <h4 class="font-weight-bold">Subtotal</h4>

                    </div>
                    <div class="col-4">
                        <input type="text" name="subprice" placeholder="105.50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">

                        <h4 class="font-weight-bold">Total</h4>

                    </div>
                    <div class="col-4">
                        <input type="text"  name="totalprice" placeholder="119.20">
                    </div>
                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Save as Draft
                </label>
                <input type="submit" value="Send an email" class="btn btn-outline-primary">
            </form>
        </div>
    </div>


</div>